<div style="height:100%" class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <br>
        <br>
        <br>
        <br>
        <h2>Cuenta Inactiva</h2>

        <br>
        <br>
        <div class="error-desc">
            Se enviaron las instrucciones de activación a la cuenta de correo electrónico con la que se registro...
        </div>

        <br>
        <button ng-click="reactivateAcount()" class="btn btn-primary">Ingresar</button>
        <br>
        <br>
        <button ui-sref="login" type="submit" class="btn btn-primary">Ingresar</button>
    </div>

</div>
