<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                        <!-- <img alt="image" class="img-circle circle-border m-b-md" src="images/profile/{{user.imagen}}"/> -->
                         </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{user.nombreCliente}}</strong>
                         </span> <span class="text-xs block">{{user.rfcCliente}} <b class="caret"></b></span> </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="cuenta">Cuenta</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="logout()" href="#">Salir</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        GA
                    </div>
                </li>
                <li>
                    <a title="Noticias" href="/noticias"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Noticias</span></a>
                </li>
                <li>
                    <a title="Facturas" href="/facturas-por-pagar"><i class="fa fa-file-o"></i> <span class="nav-label">Facturas</span></a>
                </li>
                <!--li>
                    <a title="Pedidos" href="#"><i class="fa fa-truck"></i> <span class="nav-label">Pedidos</span></a>
                </li-->
                <!--li>
                    <a title="Estado de cuenta" href="#"><i class="fa fa-area-chart"></i> <span class="nav-label">Estado de cuenta</span></a>
                </li-->
                <li>
                    <a title="Cuenta" href="/cuenta"><i class="fa fa-user"></i> <span class="nav-label">Cuenta</span></a>
                </li>
                <li>
                    <a title="Portal" href="http://192.168.20.89:9000/"><i class="fa fa-wrench"></i> <span class="nav-label">Portal Refacciones</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-success " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <h3 class="m-r-lg text-muted welcome-message"><strong>GRUPO ANDRADE | </strong>Portal clientes</h3>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-newspaper-o"></i> <span ng-show="alertNews.idEstatus==1" class="label label-warning">{{alertNews.textoAlerta}}</span>
                        </a>
                        <ul ng-show="alertNews.idEstatus==1" class="dropdown-menu dropdown-alerts">
                            <li>
                                <a ng-click="viewAlert(rfc,2)" href="noticias">
                                    <div>
                                        <i class="fa fa-newspaper-o"></i> Tiene {{alertNews.textoAlerta}} noticias sin leer
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-file-o"></i> <span ng-show="alertNewOrder.idEstatus==1" class="label label-primary">{{alertNewOrder.textoAlerta}}</span>
                        </a>
                        <ul ng-show="alertNewOrder.idEstatus==1" class="dropdown-menu dropdown-alerts">
                            <li>
                                <a ng-click="viewAlert(rfc,1)" href="ordenes-pendientes">
                                    <div>
                                        <i class="fa fa-file-o"></i> Tiene {{alertNewOrder.textoAlerta}} ordenes de compra sin leer
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a ng-click="logout()" href="#">
                            <i class="fa fa-sign-out"></i> Cerrar sesión
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div ui-view></div>
          </div>

</div>
